.ContainerAdjustment{
    margin-left: 250px;
    z-index: 990;
    
}


@media (max-width: 1024px) {  
 
    .ContainerAdjustment{
        margin-left:200px;
    }
}

@media (max-width: 600px) {  
    .ContainerAdjustment{
        margin-left: 0px;
       
    }
  }