.formGroup {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0px 70px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputField {
    display: flex;
    align-items: center;
    width: 100%;
    /* max-width: 600px; */
    background: #aaaaaa28;
    border-radius: 8px;
    padding: 16px 8px;
}

.inputPair {
    display: flex;
    gap: 40px;
    width: 100%;


}

.inputPair input {
    padding-left:10px ;
    


}

.inputPair > div {
    flex: 1;
}

.inputPair label{
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

@media (max-width: 880px) { 

    .inputPair{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .formGroup{
        padding: 0px 50px;
        margin-bottom: 150px;
    }

    .inputPair label{
        padding-left: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }

   
    
}


@media (max-width: 600px) { 
    .formGroup{
        padding: 0px 30px;
        gap: 20px;
    }

    .inputPair {
        gap: 20px;}

        .inputContainer{
            gap: 3px;
        }

}