.ContainerGraph{
    background-color: #ffff;
    width: 100%;
    display: flex;
    max-width: 930px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    border-radius: 10px;
    padding: 30px 20px;
    gap: 20px;
   

}

.ContainerGraph p{
    padding-left: 20px;
}
@media (max-width: 1000px) {  
    .ContainerGraph{
        padding:  40px;

    }
}

@media (max-width: 600px) {  
    .ContainerGraph{
        background-color: #ffff;
      
        padding:  30px 10px;

        border-radius: 10px;
       
       
       
    }
  }